include ../header
    title= title
    link(rel='stylesheet', href='style/experience.css')
  body
    include ../navbar
    .bg-img
      img(src='http://www.yuntongxun.com/front/images/tiyanzhongxin-2.png', alt='')
      .boxs
        .item1
          .cont
            h3 短信验证码
            p 提供三网合一的验证码短信发送服务，适用于用户注册、支付确认与信息变更等场景
          .isInfo
            a(href='http://101.201.101.70:8080/ucrm/register_toRegister.action') 体验一下
            a(href='product.html#smsClass-1') 了解产品详情》
        .item2
          .cont
            h3 短信通知
            p 覆盖三网，高到达率，广泛用于订单通知，服务通知、物流信息等各类信息通知。
          .isInfo
            a(href='http://101.201.101.70:8080/ucrm/register_toRegister.action') 体验一下
            a(href='product.html#smsClass-3') 了解产品详情》
        .item3
          .cont
            h3 闪信通知
            p 三网合一专属通道，API简单易用，接入更快捷！
          .isInfo
            a(href='http://101.201.101.70:8080/ucrm/register_toRegister.action') 体验一下
            a(href='product.html#smsClass-4') 了解产品详情》
        .item4
          .cont
            h3 短信发送平台
            p 号码批量导入、批量定时发送，状态可查
          .isInfo
            a(href='http://101.201.101.70:8080/ucrm/register_toRegister.action') 体验一下
            a(href='product.html#smsClass-2') 了解产品详情》
        .item5
          .cont
            h3 企业外号
            p 一线业务人员通过号外号云通信企业“外”号对外联络
          .isInfo
            a(href='http://101.201.101.70:8080/ucrm/register_toRegister.action') 体验一下
            a(href='product.html#voiceClass-1') 了解产品详情》
        .item6
          .cont
            h3 安全隐私
            p 保护双方号码不泄露，防跳单、防骚扰!
          .isInfo
            a(href='http://101.201.101.70:8080/ucrm/register_toRegister.action') 体验一下
            a(href='product.html#voiceClass-2') 了解产品详情》
        .item7
          .cont
            h3 一键双呼
            p 号外号TM通过建立在全国各地运营商中的线路资源及云端接入平台
          .isInfo
            a(href='http://101.201.101.70:8080/ucrm/register_toRegister.action') 体验一下
            a(href='product.html#voiceClass-3') 了解产品详情》
        .item8
          .cont
            h3 企业名片
            p 号外号TM通过USSD/闪信方式在呼叫的同时可向主叫/被叫方投递带有企业标识的企业名片
          .isInfo
            a(href='http://101.201.101.70:8080/ucrm/register_toRegister.action') 体验一下
            a(href='product.html#voiceClass-4') 了解产品详情》
        .item9
          .cont
            h3
            p
          .isInfo
            a(href='http://101.201.101.70:8080/ucrm/register_toRegister.action') 体验一下
            a(href='product.html') 了解产品详情》
    footer
      p © Copyright 2017 号外号平台 All Rights Reserved 北京号外号科技有限公司
      p 增值电信业务经营许可证：B2-21090494 京ICP备15058171号 京ICP备15058171号-5
