<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <head>
    <title>好外号-帮助</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1" />
    <link rel="stylesheet" type="text/css" href="../assets/style/index.css" />
    <link rel="stylesheet" type="text/css" href="../assets/style/reset.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="jumbotron">
      <div class="page-header">
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <strong>号外号（北京）科技有限公司</strong
          >，专注于将通讯新技术与企业传统业务模式的创新应用方案，提供科研开发、应用与运营服务。
          拥有广泛的行业专家智库资源，可根据客户的需求提供深度解决方案，或灵活定制。
          核心团队成员均来自传统电信、互联网及知名通信企业。具有国际化的通信产品开发、运营及管理经验，平均从业经验15年以上。
        </p>
      </div>

      <h3>行业背景:</h3>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        随着运营商对虚拟号码的创新应用，企业为了提高业务效率，提高与用户之间的沟通信息和信任，云通讯服务为企业带来便捷化和差异化。伴随以OTT为代表的跨网络、跨运营商、跨地域行业的蓬勃发展，企业对一点接入、全程全网、便捷交易的云通讯服务能力诉求越来约明显。
      </p>
      <h3>需求背景:</h3>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        随着互联网企业使用虚拟号码的应用场景，滴滴出行每天的呼叫量超千万级，更多的行业用户对虚拟号码的需求日益突出。随着用户的互联网交易次数增加，越来越多的第三方机构掌握了用户的通讯联系方式，客户信息泄露，安全隐患大增。
      </p>
    </div>
  </body>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../assets/js/index.js"></script>
</html>
