include ../header
    title= title
    link(rel='stylesheet', href='/style/price.css')
  body
    include ../navbar
    .container.m0
      .leftArea
        ul
          h3.leftArea-label-sms 消息页
          li
            a(href="") 短信验证码
          li
            a(href="") 短信发送平台
          li
            a(href="") 短信通知
          li
            a(href="") 闪信通知
        ul
          h3.leftArea-label-voice 通话页
          li
            a(href="") 企业外号
          li
            a(href="") 安全隐私号
          li
            a(href="") 一键双呼
          li
            a(href="") 企业名片
      .rightArea
        #sms-page1
          h4 短信验证码
          .sms-box-page1