include ../../header
    title= title
    link(rel='stylesheet', href='http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style/product.css')
    script(src='http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='/js/tabs.js')
  body
    include ../../navbar
    block content