if locals.user
  //- 给已登录用户的菜单
  #menu
    span(class='name') #{user.name}
    a(href='/post')	post
    a(href='/logout') 退出
else
  //- 给匿名用户的菜单
  #menu
	a(href='/login') 登陆
	a(href='/register') 注册