//- 分页控件
#pager
	//- 只有一页时不显示分页控件
  if (page.count > 1)
  	//- 如果没在第一页，显示上一页链接
  	if page.number
  	  a(id='prev' href='/?#{page.number}') 上一页
  	//- 如果没在最后页，显示下一页链接
  	if (page.number < page.count - 1)
  	  if page.number
  	  	&nbsp;&nbsp;
  	  a(id='next' href='/?#{page.number + 2}') 下一页