<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'blockly-master/blockly_compressed.js'%}"></script>
    <script src="{% static 'blockly-master/python_compressed.js'%}"></script>
    <script src="{% static 'blockly-master/blocks_compressed.js'%}"></script>
    <script src="{% static 'blockly-master/msg/js/zh-hans.js'%}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <title>用户</title>
    <link rel="icon" href="{% static 'img/favicon.ico'%}" sizes="32x32">
</head>
<body>
    <div id="dlm_body">
      <div id="dlm_head">
        <img id = "dlm_menu_icon_0" onclick="window.open(' /')"" style="width: 100px; height: 50px; padding-left: 55px; padding-top: 15px;float: left;" src="{% static 'img/dlm_icon.png'%}" alt="">
        <div id="dlm_menu">
          <div class="dlm_menu_icon" id="dlm_menu_icon_1" onclick="dlm_menu_btn(this)"></div>
          <div class="dlm_menu_icon" id="dlm_menu_icon_2" onclick="dlm_menu_btn(this)" ></div>
          <div class="dlm_menu_icon" id="dlm_menu_icon_3" onclick="dlm_menu_btn(this)" ></div>
          <div class="dlm_menu_icon" id="dlm_menu_icon_4" onclick="dlm_menu_btn(this)" ></div>
          <div class="dlm_menu_icon" id="dlm_menu_icon_9" onclick="dlm_menu_btn(this)" ></div>
          <div class="dlm_menu_icon" id="dlm_menu_icon_8" onclick="dlm_menu_btn(this)" ></div>
          <div class="dlm_menu_icon" id="dlm_menu_icon_7" onclick="window.open(' /dlm_sj_zy')" ></div>
          <div class="dlm_menu_icon" id="dlm_menu_icon_6" onclick="window.open(' /dlm_Sample')" ></div>
          <div class="dlm_menu_icon" id="dlm_menu_icon_5" onclick="dlm_menu_btn(this)" ></div>
        </div>
      </div>
      <div id="dlm_yh" style="display: block;">
        <div style="width: 100%;background-color: #ddd;">
          <div style="width: 1200px;margin: 0 auto;">
            <div style="width: 200px; margin-top: 20px;float: left;background-color: #fff;">
              <div style="border-bottom: 1px solid rgba(241,241,241,1);"><div class="dlm_yh_box" onclick="window.open(' /dlm_yh_zp')">我的作品</div></div>   
              <div style="border-bottom: 1px solid rgba(241,241,241,1);"><div class="dlm_yh_box"onclick="window.open(' /dlm_yh_bj')">我的班级</div></div> 
              <div style="border-bottom: 1px solid rgba(241,241,241,1);"><div class="dlm_yh_box"onclick="window.open(' /dlm_yh_tz')">我的贴子</div></div> 
              <div style="border-bottom: 1px solid rgba(241,241,241,1);"><div class="dlm_yh_box"onclick="window.open(' /dlm_yh_gz')">我的关注</div></div> 
              <div style="border-bottom: 1px solid rgba(241,241,241,1);"><div class="dlm_yh_box"onclick="window.open(' /dlm_yh_sc')">我的收藏</div></div> 
              <div style="border-bottom: 1px solid rgba(241,241,241,1);"><div class="dlm_yh_box"onclick="window.open(' /dlm_yh_xx')">我的消息</div></div> 
              <div style="border-bottom: 1px solid rgba(241,241,241,1);"><div class="dlm_yh_box"onclick="window.open(' /dlm_yh_zl')">我的资料</div></div>
            </div>
            <div class="dml_yh_block" id="dml_yh_tz">
              <div style="height: 50px;border-bottom: 1px solid rgba(241,241,241,1);background-color: #fff;margin-top: 20px;">
                <div class="dlm_asmple_menu" id="dlm_tz_menu_1" style="font-weight: 900;" >我的班级</div>
              </div>
              <div style="height: 747px; padding: 33px 30px 0px 30px;background-color: #fff;border-bottom: 1px solid rgba(241,241,241,1);">
                    <div class="dlm_bj_box">
                        <div style="height: 12px; font-size: 12px; color: #666;">学校名称</div>
                        <div style="padding-top: 16px;">
                            <img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;">
                            <div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div>
                        </div>
                    </div>
                    <div class="dlm_bj_box">
                        <div style="height: 12px; font-size: 12px; color: #666;">学校名称</div>
                        <div style="padding-top: 16px;">
                            <img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;">
                            <div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div>
                        </div>
                    </div>
                    <div class="dlm_bj_box">
                        <div style="height: 12px; font-size: 12px; color: #666;">学校名称</div>
                        <div style="padding-top: 16px;">
                            <img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;">
                            <div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div>
                        </div>
                    </div>
                    <div class="dlm_bj_box">
                        <div style="height: 12px; font-size: 12px; color: #666;">学校名称</div>
                        <div style="padding-top: 16px;">
                            <img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;">
                            <div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div>
                        </div>
                    </div>
                    <div class="dlm_bj_box">
                        <div style="height: 12px; font-size: 12px; color: #666;">学校名称</div>
                        <div style="padding-top: 16px;">
                            <img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;">
                            <div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div>
                        </div>
                    </div>
                    <div class="dlm_bj_box">
                        <div style="height: 12px; font-size: 12px; color: #666;">学校名称</div>
                        <div style="padding-top: 16px;">
                            <img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;">
                            <div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div>
                        </div>
                    </div>
                    <div class="dlm_bj_box">
                        <div style="height: 12px; font-size: 12px; color: #666;">学校名称</div>
                        <div style="padding-top: 16px;">
                            <img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;">
                            <div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div>
                        </div>
                    </div>
                    <div class="dlm_bj_box">
                        <div style="height: 12px; font-size: 12px; color: #666;">学校名称</div>
                        <div style="padding-top: 16px;">
                            <img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;">
                            <div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div>
                        </div>
                    </div>
                    <div class="dlm_bj_box">
                        <div style="height: 12px; font-size: 12px; color: #666;">学校名称</div>
                        <div style="padding-top: 16px;">
                            <img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;">
                            <div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div>
                        </div>
                    </div>
                    <div class="dlm_bj_box">
                        <div style="height: 12px; font-size: 12px; color: #666;">学校名称</div>
                        <div style="padding-top: 16px;">
                            <img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;">
                            <div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div>
                        </div>
                    </div>
                    <div class="dlm_bj_box">
                        <div style="height: 12px; font-size: 12px; color: #666;">学校名称</div>
                        <div style="padding-top: 16px;">
                            <img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;">
                            <div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div>
                        </div>
                    </div>
                    <div class="dlm_bj_box1" style="background-color: #fff;border:1px dashed rgba(227,227,227,1);"onclick='dlm_bj_box1_click(this)'>
                        <div style="margin: 0 auto;width: 60px;padding-top: 35px;">
                            <img src="static/img/xz_tj.png" style="width: 16px;height: 16px;float: left;">
                            <div style=" height: 16px; color: #5A72DE;padding-left: 9px;float: left;">添加</span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
      <div id="dlm_wj_menu" style="position: absolute; top: 80px;left: 200px;width: 128px;background-color: #fff;border: 1px solid #000; border-radius: 3px;display: none;" >
        <ul class="dlm_wj_menu_box" onclick="dlmmenuboxclick(this)" >创建</ul>
        <ul class="dlm_wj_menu_box" onclick="dlmmenuboxclick(this)" >打开云端项目</ul>
        <ul class="dlm_wj_menu_box" onclick="dlmmenuboxclick(this)">打开本地项目</ul>
        <ul class="dlm_wj_menu_box" onclick="dlmmenuboxclick(this)">保存到云端</ul>
        <ul class="dlm_wj_menu_box" onclick="dlmmenuboxclick(this)">保存到本地</ul>
      </div>
      <div id="dlm_zy_menu" style="position: absolute; top: 80px;left: 494px;width: 128px;background-color: #fff;border: 1px solid #000; border-radius: 3px;display: none;" >
        <ul class="dlm_wj_menu_box" onclick="dlmmenuboxclick(this)">图片库</ul>
        <ul class="dlm_wj_menu_box" onclick="dlmmenuboxclick(this)">音频库</ul>
        <ul class="dlm_wj_menu_box" onclick="dlmmenuboxclick(this)">文件库</ul>
      </div>
      <div id="dlm_yh_menu" style="position: absolute; top: 80px;right: 0px;width: 128px;background-color: #fff;border: 1px solid #000; border-radius: 3px;display: none;" >
        <ul class="dlm_wj_menu_box" onclick="window.open(' /dlm_yh_zp')">我的作品</ul>
        <ul class="dlm_wj_menu_box" onclick="window.open(' /dlm_yh_bj')">我的班级</ul>
        <ul class="dlm_wj_menu_box" onclick="window.open(' /dlm_yh_tz')">我的贴子</ul>
        <ul class="dlm_wj_menu_box" onclick="window.open(' /dlm_yh_sc')">我的收藏</ul>
        <ul class="dlm_wj_menu_box" onclick="window.open(' /dlm_yh_gz')">我的关注</ul>
        <ul class="dlm_wj_menu_box" onclick="window.open(' /dlm_yh_xx')">我的消息</ul>
        <ul class="dlm_wj_menu_box" >退出登录</ul>
      </div>
    </div>
    <script src="{% static 'js/dlm_blockly.js'%}"></script>
    <script>
        function dlm_bj_box1_click(a){
            var s = a.parentNode
            var s1 = document.createElement('div')
            s1.className = 'dlm_bj_box'
            s1.innerHTML='<div style="height: 12px; font-size: 12px; color: #666;">学校名称</div><div style="padding-top: 16px;"><img src="/static/img/xz_01.png" style="float: left; width: 18px;height: 15px;"><div style=" float: left;font-size: 12px; color: #333;font-weight: Bold;padding-left: 12px;">班级</div></div>'
            s.removeChild(a)
            s.appendChild(s1)
            s.appendChild(a)
        }
    </script>
</body>
</html>