<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <title>社区 校内</title>
    <link rel="icon" href="{% static 'img/favicon.ico'%}" sizes="32x32">
</head>
<body>
    <div style="width: 100%;height: 70px;background-color: #fff;">
        <div style="width: 1200px;margin: 0 auto;">
            <div style="background-color: #28B28B;width: 108px;text-align: center;line-height: 70px;color: #fff;display: inline-block;margin-right: 50px;">返回工作区</div>
            <div class='dlm_sj_zy_menu_box' onclick="window.open(' /dlm_sj_zy')" >世界</div>
            <div class='dlm_sj_zy_menu_box'style="border-bottom: 2px solid #5A72DE;">校内</div>
            <div class='dlm_sj_zy_menu_box'>关于</div>
            <div class="dlm_sj_zy_menu_ss" contenteditable=true onfocus="if(this.innerText=='请输入搜索内容')this.innerText=''" onblur="if(this.innerText=='')this.innerText='请输入搜索内容'">请输入搜索内容</div>
            <div class="dlm_sj_zy_menu_ss1"><img src="" alt=""></div>
            <span>用户名<div class="kailong1"></div></span>
        </div>
    </div>
    <div style="width:100%;height:4px;background:rgba(0,0,0,1);opacity:0.1;margin-bottom: 24px;"></div>
    <div style="width: 1200px;height: 744px; background-color: #fff;margin: 0 auto;">
        <div style="border-bottom: 1px solid #ddd;height: 60px;">
            <div class='dlm_sj_zy_menu_box1'>看帖</div>
            <div class='dlm_sj_zy_menu_box1'>精品</div>
            <div class='dlm_sj_zy_menu_box1'>教学</div>
            <div style="background-image: url(/static/img/sj_xn_fb_03.png);float: right; width: 84px;height: 30px;margin: 16px 29px 0px 0px;" onclick="fbtn_click('dlm_sj_xn_tz','dlm_sj_xn_tz1')"></div>
        </div>
        <div style="display: inline-block;width: 937px;height: 685px;padding-left: 25px;">
            <div id='dlm_sj_xn_tz' style="display: none;" >
                <div style="width: 842px;height: 120px;border-bottom: 1px solid #ddd;">
                    <div style="width: 44px;height: 44px;float: left; background-color: #28B28B;margin-top: 35px;text-align: center;line-height: 44px;color: #fff;">1</div>
                    <div style="float: left;padding-top: 35px;text-align: left;margin-left: 18px;">
                        <div style="font-size: 16; font-weight: Bold;">拍照不会摆姿势没关系</div>
                        <div style="font-size: 12; font-weight: Regular;color: #BBB;margin-top: 13px;">拍照不会摆姿势没关系</div>
                    </div>
                </div>
                <div style="width: 842px;height: 58px;border-bottom: 1px solid #ddd;">
                    <div style="width: 30px;height: 30px;float: left; background-color: #AFAFAF;margin-top: 15px;text-align: center;line-height: 30px;color: #fff;">2</div>
                    <div style="font-weight: Regular;color: #333;  float: left;padding-top: 24px;text-align: left;margin-left: 18px;">拍照不会摆姿势没关系</div>
                </div>
                <div style="width: 842px;height: 58px;border-bottom: 1px solid #ddd;">
                    <div style="width: 30px;height: 30px;float: left; background-color: #AFAFAF;margin-top: 15px;text-align: center;line-height: 30px;color: #fff;">3</div>
                    <div style="font-weight: Regular;color: #333;  float: left;padding-top: 24px;text-align: left;margin-left: 18px;">拍照不会摆姿势没关系</div>
                </div>
                <div style="width: 842px;height: 58px;border-bottom: 1px solid #ddd;">
                    <div style="width: 30px;height: 30px;float: left; background-color: #AFAFAF;margin-top: 15px;text-align: center;line-height: 30px;color: #fff;">4</div>
                    <div style="font-weight: Regular;color: #333;  float: left;padding-top: 24px;text-align: left;margin-left: 18px;">拍照不会摆姿势没关系</div>
                </div>
                <div style="width: 842px;height: 58px;border-bottom: 1px solid #ddd;">
                    <div style="width: 30px;height: 30px;float: left; background-color: #AFAFAF;margin-top: 15px;text-align: center;line-height: 30px;color: #fff;">5</div>
                    <div style="font-weight: Regular;color: #333;  float: left;padding-top: 24px;text-align: left;margin-left: 18px;">拍照不会摆姿势没关系</div>
                </div>
                <div style="width: 842px;height: 58px;border-bottom: 1px solid #ddd;">
                    <div style="width: 30px;height: 30px;float: left; background-color: #AFAFAF;margin-top: 15px;text-align: center;line-height: 30px;color: #fff;">6</div>
                    <div style="font-weight: Regular;color: #333;  float: left;padding-top: 24px;text-align: left;margin-left: 18px;">拍照不会摆姿势没关系</div>
                </div>
                <div style="width: 842px;height: 58px;border-bottom: 1px solid #ddd;">
                    <div style="width: 30px;height: 30px;float: left; background-color: #AFAFAF;margin-top: 15px;text-align: center;line-height: 30px;color: #fff;">7</div>
                    <div style="font-weight: Regular;color: #333;  float: left;padding-top: 24px;text-align: left;margin-left: 18px;">拍照不会摆姿势没关系</div>
                </div>
            </div>
            <div id='dlm_sj_xn_tz1' style="display: block;">
                <div style="float: left; width: 842px; font-weight: Bold;font-size: 16px;margin-top: 37px;">发帖任务</div>
                <div class="dlm_sj_xn_title" contenteditable=true  onfocus="if(this.innerText=='请输入内容')this.innerText=''" onblur="if(this.innerText=='')this.innerText='请输入内容'">请输入内容</div>
                <div class="dlm_sj_xn_title" style="height: 316px;" contenteditable=true  onfocus="if(this.innerText=='请输入内容')this.innerText=''" onblur="if(this.innerText=='')this.innerText='请输入内容'">请输入内容</div>
                <p style="width: 100%; float: left;"></p>
                <div style="float: left; width: 72px;height: 35px;text-align: center;line-height: 35px; background-color: #5A72DE; color: #fff;">发布</div>
            </div>
        </div>
        <div style="display: inline-block;width: 221px;height: 685px;">
            <div style="padding-top: 37px;">
                <div style="background-color: #ddd; width: 103px;height: 122px;float: left;margin-right: 20px;"></div>
                <div style="float: left;">
                    <div style="margin-top: 21px;font-weight: Bold;color: #333;">用户名</div>
                    <div style="margin-top: 26px;">
                        <div style="display: inline-block;font-weight: Regular;color: #bbb;">班级：</div>
                        <div style="display: inline-block;font-weight: Regular;color: #333;">对应班级</div>
                    </div>
                    <div style="margin-top: 13px;">
                        <div style="display: inline-block;font-weight: Regular;color: #bbb;">职位：</div>
                        <div style="display: inline-block;font-weight: Regular;color: #333;">对应职位</div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 137px;">
                <div style="margin-top:20px;width: 211;height: 80px; background-image: url(/static/img/sq_xn_rw_07.png);background-repeat:no-repeat ;"></div>
                <div style="margin-top:20px;width: 211;height: 80px; background-image: url(/static/img/sq_xn_rw_10.png);background-repeat:no-repeat ;"></div>
            </div>
            <div style="padding-top: 31px;">
                <div style="float: left;width: 221px;border-bottom: 1px solid #ddd;height: 37px;">
                    <div style="font-weight: Bold;">热议榜</div>
                </div>
            </div>
            <div style="padding-top: 31px;">
                <div style="width: 221px;height: 58px;border-bottom: 1px solid #ddd;">
                    <div style="width: 30px;height: 30px;float: left; background-color: #AFAFAF;margin-top: 15px;text-align: center;line-height: 30px;color: #fff;">1</div>
                    <div style="font-weight: Regular;color: #333;  float: left;padding-top: 20px;text-align: left;margin-left: 18px;">python</div>
                </div>
                <div style="width: 221px;height: 58px;border-bottom: 1px solid #ddd;">
                    <div style="width: 30px;height: 30px;float: left; background-color: #AFAFAF;margin-top: 15px;text-align: center;line-height: 30px;color: #fff;">2</div>
                    <div style="font-weight: Regular;color: #333;  float: left;padding-top: 20px;text-align: left;margin-left: 18px;">python</div>
                </div>
                <div style="width: 221px;height: 58px;border-bottom: 1px solid #ddd;">
                    <div style="width: 30px;height: 30px;float: left; background-color: #AFAFAF;margin-top: 15px;text-align: center;line-height: 30px;color: #fff;">3</div>
                    <div style="font-weight: Regular;color: #333;  float: left;padding-top: 20px;text-align: left;margin-left: 18px;">python</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function fbtn_click(a,b){
            var s = document.getElementById(a)
            var d = document.getElementById(b)
            if(s.style.display=='block'){
                s.style.display='none'
                d.style.display='block'
            }else{
                d.style.display='none'
                s.style.display='block'
                console.log('asd')
            }
            
        }
    </script>
</body>
</html>