/* 通用样式 */
.m0 {
  margin: 0;
}
.text-gray {
  color: gray;
  font-size: 1em;
}
.btn-white {
  width: 150px;
  height: 35px;
  display: block;
  border-radius: 18px;
  border: 1px solid #1FA66E;
  text-align: center;
  line-height: 35px;
  font-size: 1.3em;
  background-color: white;
  color: #1FA66E;
}
.btn-white:hover {
  background-color: #1FA66E;
  color: white;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
.Price-box {
  height: 250px;
  width: 180px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #C7CBD3;
}
.Price-box .Price-box-title {
  line-height: 50px;
  border-bottom: 1px solid #C7CBD3;
}
.Price-box .Price-box-title .Price-money {
  color: #fb364a;
  font-size: 36px;
}
.Price-box .Price-h {
  font-size: 22px;
  font-weight: bold;
  color: #3d4f5b;
}
.Price-box .Price-Original-price {
  color: #C7CBD3;
  text-decoration: line-through;
}
.Price-box .Price-Contain {
  color: #2fb26a;
}
.Price-box .Price-go-purchase {
  display: inline-block;
  width: 158px;
  height: 48px;
  margin: 10px 0;
  line-height: 48px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #fb364a;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.Price-box .one {
  margin: 40px 0;
}
/* 左侧列表*/
.leftArea {
  position: fixed;
  top: 61px;
  background-color: #091720;
  color: white;
}
.leftArea .leftArea-label-sms {
  background-color: #F83251;
}
.leftArea .leftArea-label-voice {
  background-color: #B83FCD;
}
.leftArea h3 {
  font-weight: bold;
  font-size: 23px;
  text-indent: 60px;
  line-height: 81px;
}
.leftArea li {
  line-height: 52px;
  text-indent: 120px;
  padding-right: 50px;
}
.leftArea li a {
  color: white;
}
.leftArea li a:hover {
  text-decoration: underline;
}
/* 右侧内容页 */
.rightArea {
  margin-left: 170px;
  padding-top: 61px;
  background-color: #EFEFEF;
}
.rightArea #sms-page1,
.rightArea #sms-page2,
.rightArea #sms-page3,
.rightArea #sms-page4,
.rightArea #voice-page1,
.rightArea #voice-page2,
.rightArea #voice-page3,
.rightArea #voice-page4 {
  background-color: #EFEFEF;
}
.rightArea .sms-box-page1,
.rightArea .sms-box-page2,
.rightArea .sms-box-page3,
.rightArea .sms-box-page4,
.rightArea .voice-box-page1,
.rightArea .voice-box-page2,
.rightArea .voice-box-page3,
.rightArea .voice-box-page4 {
  width: 866px;
  margin: 0 auto;
  padding: 45px 40px;
  border-radius: 1%;
  box-shadow: 0 5px 15px #cac8e9;
  background-color: white;
}
.rightArea #sms-footer,
.rightArea #voice-footer {
  text-align: center;
  margin: 0 auto;
}
.rightArea #sms-footer .QAlist li,
.rightArea #voice-footer .QAlist li {
  list-style: none;
}
