<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	    <p>上传图片表单</p>
	    <form method="post" action='/upload'>
	    	<p>
	    		<input type="text", name='photosName' >
	    	</p>
	    	<p>
	    		<input type="file", name="photosImage" >
	    	</p>
	    	<p>
	    		<input type="submit" name="upload" value="上传图片">
	    	</p>
	    </form>
  </body>
</html>
