.blocklyTreeRoot{
	min-width:155px;
}

a{
	text-decoration:none;
	color:#999;
}
a:hover{
	color:#000;
}

span.viewRight{
  padding:3px 10px 3px 10px;
  background-color: #aaa;
    border: 1px solid #aaa;
  color:#fff;
    border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

a.viewLeft{
  padding:3px 10px 3px 10px;
  background-color: #fff;
    border: 1px solid #aaa;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}
#tabRow>td {
      border: 1px solid #ccc;
	  font-family: sans-serif;
	  font-size:18px;
	  border-bottom: none;
}
pre.content {
  border: 1px solid #ccc;
  overflow: scroll;
}
#content_xml {
      resize: none;
      outline: none;
      border: none;
	  border: 1px solid #ccc;
      font-family: monospace;
      overflow: scroll;
    }
td.tabon {
      border-bottom-color: #ddd !important;
      background-color: #ddd;
	  color: #000;
      padding: 3px 19px 3px 19px;
	  min-width:80px;
}
td.taboff {
      cursor: pointer;
	  color: #000;
      padding: 3px 19px 3px 19px;
	  min-width:80px;
}
td.taboff:hover {
      background-color: #eee;
}

.blocklyTreeIconOpen {
    margin: 8px;
}
.blocklyTreeIconClosedLtr {
    margin: 8px;
}
#content_arduino {
	resize:none;
}

div>span.blocklyTreeIcon.blocklyTreeIconNone{
	width:24px;height:24px;
	float:left;
	margin:12px;
	background:url('../media/mark/default.png') no-repeat;
	background-size: 100% auto;
}
.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/default2.png') no-repeat;
	background-size: 100% auto;
}

#blockly\:1>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/inout.png') no-repeat;
	background-size: 100% auto;
}
#blockly\:1>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/inout2.png') no-repeat;
	background-size: 100% auto;
}
#blockly\:2>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/ctrl.png') no-repeat;
	background-size: 100% auto;
}
#blockly\:2>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/ctrl2.png') no-repeat;
	background-size: 100% auto;
}
#blockly\:3>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/math.png') no-repeat;
	background-size: 100% auto;
}
#blockly\:3>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/math2.png') no-repeat;
	background-size: 100% auto;
}

#blockly\:4>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/logic.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:4>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/logic2.png') no-repeat;
  background-size: 100% auto;
}

#blockly\:5>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/text.png') no-repeat;
	background-size: 100% auto;
}
#blockly\:5>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/text2.png') no-repeat;
	background-size: 100% auto;
}
#blockly\:6>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/list3.png') no-repeat;
	background-size: 100% auto;
}
#blockly\:6>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/list4.png') no-repeat;
	background-size: 100% auto;
}

#blockly\:7>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/tuple.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:7>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/tuple2.png') no-repeat;
  background-size: 100% auto;
}

#blockly\:8>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/dict.png') no-repeat;
	background-size: 100% auto;
}
#blockly\:8>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../media/mark/dict2.png') no-repeat;
	background-size: 100% auto;
}


#blockly\:9>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/set.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:9>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/set2.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:a>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/store.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:a>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/store2.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:b>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/turtle.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:b>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/turtle2.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:c>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/data.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:c>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/data2.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:d>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/net.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:d>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/net2.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:e>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/hardware.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:e>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/hardware2.png') no-repeat;
  background-size: 100% auto;
}


#blockly\:g>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/var.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:g>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/var2.png') no-repeat;
  background-size: 100% auto;
}

#blockly\:h>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/func.png') no-repeat;
  background-size: 100% auto;
}
#blockly\:h>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../media/mark/func2.png') no-repeat;
  background-size: 100% auto;
}
/*text.blocklyCheckbox {
  fill: #ff3030!important;
  text-shadow: 0 0 3px red;
  font-size: 17pt!important;
}*/

#reset_output:hover{
	cursor:pointer
}

span#span_blocks, span#span_arduino, select#languageMenu {
    font-family: 'YaHei Consolas Hybrid', 'Microsoft Yahei Light', 'Arial', 'SimHei';
}

span.blocklyTreeLabel {
    font-family: 'YaHei Consolas Hybrid', 'Microsoft Yahei Light', 'Arial', 'SimHei';
    line-height: 50px;
}

text.blocklyText {
    font-family: 'YaHei Consolas Hybrid', 'Microsoft Yahei Light', 'Arial', 'SimHei';
}

@font-face {
    font-family: 'YaHei Consolas Hybrid';
    src: url('../font/YaHei Consolas Hybrid.ttf');
}

.blocklyHtmlInput {
	font-family: 'YaHei Consolas Hybrid';
}

#side_code,.content,.ace_editor,.ace-xcode {
    font-family: 'YaHei Consolas Hybrid', 'Microsoft Yahei Light', 'Arial', 'SimHei';
}