html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

ul {
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

#dlm_head {
    width: 100%;
    height: 80px;
    background-image: url("../img/dlm_head.jpg");
}

#dlm_menu {
    width: 100%;
    padding-top: 22px;
}

.dlm_menu_icon {
    background: url("../img/dlm_menu.png") no-repeat;
    width: 30px;
    height: 36px;
}

.dlm_menu_icon_1 {
    margin-left: 66px;
    width: 80px;
    float: left;
    background-position: -220px -22px;
}

.dlm_menu_icon_2 {
    width: 145px;
    height: 42px;
    margin-left: 32px;
    float: left;
    background-position: -332px -19px;
}

.dlm_menu_icon_3 {
    width: 72px;
    margin-left: 39px;
    float: left;
    background-position: -516px -22px;
}

.dlm_menu_icon_4 {
    width: 88px;
    margin-left: 35px;
    float: left;
    background-position: -623px -22px;
}

.dlm_menu_icon_5 {
    width: 53px;
    margin-right: 32px;
    float: right;
    background-position: -1459px -22px;
}

.dlm_menu_icon_6 {
    width: 65px;
    margin-right: 32px;
    float: right;
    background-position: -1544px -22px;
}

.dlm_menu_icon_7 {
    width: 52px;
    margin-right: 77px;
    float: right;
    background-position: -1641px -22px;
}

.dlm_menu_icon_8 {
    width: 51px;
    margin-right: 44px;
    float: right;
    background-position: -1726px -22px;
}

.dlm_menu_icon_9 {
    width: 78px;
    margin-right: 21px;
    float: right;
    background-position: -1821px -22px;
}

#dlm_menu_list {
    position: relative;
    top: 58px;
    left: -35px;
    width: 128px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    display: none;
    z-index: 1;
}

#dlm_body {
    height: 100%;
    position: relative;
    /* background-color: #000; */
}

#dlm_subject{
    height: calc(100% - 80px);
}
#dlm_Sample{
    height: calc(100% - 80px);
}
#dlm_blockly{
    width: 70%;
    height: 100%;
    float: left;
}

/*右侧代码容器*/
#dlm_code_warp {
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    /*background-color:#41444D;*/
}

#dlm_code_warp .dlm_btn_grop {
    width: 100%;
    height: 6%;
    cursor: pointer;
}

#dlm_code_warp .dlm_btn_grop #dlm_run_stop_btn {
    background-color: blue;
    color: white;
    width: 50%;
    height: 100%;
}

/*运行 和 停止按钮*/
#dlm_code_warp .dlm_btn_grop #dlm_run_stop_btn,
#dlm_clear_btn {
    padding-top: 15px;
    float: left;
}

#dlm_code_warp .dlm_btn_grop #dlm_run_stop_btn:hover,
#dlm_clear_btn:hover {
    opacity: .9
}

/*清除按钮*/
#dlm_code_warp .dlm_btn_grop #dlm_clear_btn {
    background-color: #faa22e;
    width: 50%;
    height: 100%;
}

#dlm_code_warp #dlm_edit {
    width: 100%;
    height: 94%;
}



.dlm_wj_menu_box {
    height: 50px;
    line-height: 50px;
    padding: 0px;
    text-align: center;
}

.dlm_sj_zy_text_title:hover,
.dlm_yh_box:hover,
.dlm_wj_menu_box:hover,
.dlm_sj_zy_menu_box:hover,
.dml_yh_tz_box:hover {
    background-color: #5A72DE;
    color: #fff;
}

.dlm_sj_zy_text_title {
    margin-right: 29px;
    line-height: 58px;
    color: #000;
}

#dlm_mb_menu {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0.15;
    width: 100px;
    height: 80px;
    display: none;
}

.dlm_Sample_text {
    height: 100%;
    line-height: 52px;
}

.dlm_zp_k1:hover {
    content: url('../img/dlm_zp_02.png');
}

.dlm_zp_k2:hover {
    content: url('../img/dlm_zp_03.png');
}

.dlm_yh_box {
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dlm_asmple_menu {
    float: left;
    height: 48px;
    line-height: 48px;
    margin-left: 30px;
}

.dlm_asmple_menu1 {
    float: left;
    height: 48px;
    line-height: 48px;
    margin-left: 30px;
}

.dlm_asmple_menu:hover {
    border-bottom: 2px solid blue;
    font-weight: 900;
}

.dml_yh_block {
    width: 980px;
    float: left;
    margin-left: 20px;
}

.dml_yh_tz_box {
    border: 1px solid rgba(241, 241, 241, 1);
    height: 36px;
    float: left;
    width: 155px;
    text-align: center;
    line-height: 36px;
    margin: 29px 10px 29px 10px;
    padding-left: 24px;
}

.dml_yh_tz_box:hover .kailong {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid blue;

    border-top: 0px;
}

.kailong {
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid black;
    float: left;
    margin-top: 15px;
    margin-left: 40px;
}

.kailong1 {
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid black;
    display: inline-block;
    margin-top: 15px;
    margin-left: 5px;
}

.dlm_yh_icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #ddd;
    float: left;
}

.dlm_yh_ly {
    height: 96px;
    background-color: #fff;
    border-bottom: 1px solid rgba(241, 241, 241, 1);
    padding-top: 30px;
}

.dlm_yh_ly1 {
    height: 109px;
    width: 677px;
    padding-top: 34px;
    margin-left: 30px;
    background-color: #fff;
    border-bottom: 1px solid rgba(241, 241, 241, 1);
}

.dlm_yh_gzyh {
    height: 110px;
    background-color: #fff;
    border-bottom: 1px solid rgba(241, 241, 241, 1);
    margin-top: 30px;
}

.dlm_ly_sj {
    padding-left: 21px;
    font-size: small;
}

.dlm_ly_yhm {
    font-weight: 900;
    padding-left: 20px;
}

.dlm_ly_ly {
    padding-left: 20px;
}

.dlm_yh_ly_btn {
    width: 52px;
    height: 30px;
    float: right;
    border: 1px solid rgba(241, 241, 241, 1);
    text-align: center;
    line-height: 30px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.dlm_asmple_menu1:hover {
    color: blue;
    border-bottom: 2px solid blue;
}

.dlm_yh_zl {
    height: 96px;
    background-color: #fff;
    padding-top: 30px;
}

.dlm_yh_icon_big {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 1px solid #ddd;
    float: left;
}

.dlm_yh_div {
    margin-top: 30px;
}

.dlm_yh_zl_innertext {
    width: 135px;
    height: 36px;
    margin-left: 26px;
    border: 1px solid rgba(241, 241, 241, 1);
    display: inline-block;
    line-height: 36px;
    text-align: left;
    padding-left: 10px;
}

.dlm_yh_wz {
    width: 80px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    color: #ddd;
    margin-left: 0px;
    text-align: right;
    clear: left;
}

.dlm_sj_zy_menu_box {
    display: inline-block;
    text-align: center;
    line-height: 68px;
    padding-left: 21px;
    padding-right: 21px;
}

.dlm_sj_zy_menu_box1 {
    display: inline-block;
    text-align: center;
    line-height: 59px;
    margin-left: 42px;
}

.dlm_sj_zy_menu_box1:hover {
    border-bottom: 2px solid #5A72DE;
}

.dlm_sj_zy_menu_ss {
    width: 335px;
    height: 36px;
    margin-left: 206px;
    border-radius: 18px;
    background-color: #ddd;
    display: inline-block;
    text-align: left;
    line-height: 36px;
    padding-left: 20px;
    color: #B4B4B4;
}

.dlm_sj_zy_menu_ss2 {
    margin-top: 30px;
    width: 657px;
    height: 43px;
    border-radius: 2px;
    background-color: #ddd;
    text-align: left;
    line-height: 43px;
    padding-left: 20px;
    color: #B4B4B4;
}

.dlm_sj_xn_title {
    margin-top: 30px;
    float: left;
    width: 842px;
    background-color: #ddd;
    height: 43px;
    line-height: 43px;
    border-radius: 2px;
    padding-left: 20px;
    color: #B4B4B4;
}

[contenteditable]:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid blue;
    color: #000;
}

[contenteditable]:onblur {
    background-color: #ddd;
    color: #B4B4B4;
}

.dlm_sj_zy_menu_ss1 {
    width: 32px;
    height: 32px;
    margin-left: 175px;
    border-radius: 16px;
    border: 1px solid #5A72DE;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 36px;
}

#box {
    width: 737px;
    height: 553px;
    position: relative;
    overflow: hidden;
}

#red {
    background-image: url(../img/dlm_sj_zy_lb_03.png);
}

#green {
    background-image: url(../img/dlm_sj_zy_lb_03.png);
}

#blue {
    background-image: url(../img/dlm_sj_zy_lb_03.png);
}

.slide {
    width: 737px;
    height: 553px;
    position: absolute;
}

.dlm_sj_zy_text_box {
    width: 411px;
    border-bottom: 1px solid rgba(241, 241, 241, 1);
    margin: 0 auto;
    text-align: center;
}

.dlm_sj_zp {
    width: 95px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #E0E0E0;
    text-align: center;
    line-height: 36px;
    margin-left: 25px;
    display: inline-block;
}

.dlm_sj_zp:hover {
    border: 1px solid #5A72DE;
    color: #5A72DE;
}

.dlm_bj_box {
    float: left;
    width: 156px;
    height: 40px;
    padding: 24px 30px 25px 30px;
    background-color: #F1F2F6;
    margin: 6px 6px 6px 5px;
}

.dlm_bj_box1 {
    float: left;
    width: 214px;
    height: 87px;
    margin: 6px 6px 6px 5px;
    background-color: #F1F2F6;
}

td,
th {
    text-align: left;
    padding-left: 17px;
}

#dlm_lb_zt {
    width: 32px;
    height: 20px;
}

.dlm_dl_dl_sr {
    width: 316px;
    height: 40px;
    line-height: 42px;
    padding-left: 22px;
    background-color: #ddd;
    margin: 0 auto;
    margin-top: 53px;
    text-align: left;
    color: #666;
}

.dlm_dl_dl_sr1 {
    width: 340px;
    height: 42px;
    line-height: 42px;
    padding-left: 22px;
    background-color: #ddd;
    margin: 0 auto;
    margin-top: 53px;
    text-align: left;
    color: #666;
    border-style: none
}

select:focus {
    outline: none;
}

.option {
    text-align: center;
    font-size: 15px;
    background-color: #fff;
}