extends ../component

block content
  .container-fluid.mt6
  .row
    #nav-items.col-md-2
      h3.title-item 语音类
      .nav-item
        p.current
          a(href='/product/Corporate-nickname') 企业外号
        p
          a(href='/product/Security-privacy-number') 安全隐私号
        p
          a(href='/product/One-button-double-call') 一键双呼
        p.current
          a(href='/product/Business-card') 企业名片
      h3.title-item 消息类
      .nav-item
        p
          a(href='/product/SMS-authentication-code') 短信验证码
        p
          a(href='/product/SMS-platform') 短信发送平台
        p
          a(href='/product/SMS-notification') 短信通知
        p
          a(href='/product/Notice-of-flashing-letters') 闪信通知
    .col-md-8(style='position: absolute;left: 350px;')
      // 语音类
      section#voiceClass
        h2 语音类
        section#voiceClass-1
          .row
            p.h1.col-md-6
              | 企业外号
              span.info 已服务10000+企业
            .pull-right.text-gray
              a(href='#experience') 体验
              a(href='#Price') 报价
          strong 保护双方号码不泄露，防跳单、防骚扰
          p.text-gray
            | 一线业务人员通过号外号云通信企业“外”号对外联络，客户侧显示记录业务员企业“外”号，业务员侧接到客户电话显示虚拟号码，实现双向号码隐藏，业务员不能获取真实的客户信息，保证客户资源留存。
          a.btn-green(href='') 立即接入使用
          #experience.row
            p.h1.col-md-12.end-line 使用场景
          strong.line-h 助力房屋中介，打造安全通话模式
          p.text-gray 经纪人不能直接看到客户手机号，但又能通畅的联系对方，保证客户号码不泄露，不被骚扰
          .smsScene.row.tabs
            ul.col-md-3.tab-list
              li.row.on-list
                span.col-md-1 1
                p
                  | 经纪人点击 联系客户按钮
              li.row
                span.col-md-1 2
                p
                  | 经纪人拨打分配 的企业外号联系客户
              li.row
                span.col-md-1 3
                p
                  | 客户收到相同 的企业外号来电
            .col-md-9.tab-img.on-imgs
              img(src='http://www.yuntongxun.com/front/images/produce_duanxinyangzhengma2.png', alt='')
              p 使用号外号的企业外号服务多平台支持、低门槛、下发快、15分钟接入
            .col-md-9.tab-img
              img(src='http://www.yuntongxun.com/front/images/produce_duanxinyangzhengma4.png', alt='用户使用手机APP或web端')
              p 运营商106直连通道，覆盖全国多线负载路由一次接入永久稳定，免除重复开发之劳
            .col-md-9.tab-img
              img(src='http://www.yuntongxun.com/front/images/produce_duanxinyangzhengma7.png', alt='用户使用手机APP或web端')
              p 10万线并发支持，满足超规模业务量使用需求保证急速用户收到验证码
          .tips1
            img(src='/images/sun-logo.png', width='150', height='150', alt='阳光保险logo')
            p 业务员接单后，不再看到客户的真实号码，有效保护隐私但沟通不受影响。阳光保险·运营团队
          br
          br
          #Price.row
            p.h1.col-md-12.end-line 产品价格
          .row
            img(src='http://www.yuntongxun.com/front/images/produce_duanxinyangzhengma_jiage.png', alt='产品价格')
            br
            br
            ul.col-md-3.sale-list
              li
                span.sale1 75折
                span.connet 语音验证码4.5分/条
              li
                span.sale 92折
                span.connet 流量折后9.2折
              li
                span.sale 75折
                span.connet 通话4.5分/分钟
            ul.col-md-3.sale-list
              li
                span.sale1 83折
                span.connet 语音验证码5分/条
              li
                span.sale 95折
                span.connet 流量折后9.5折
              li
                span.sale 83折
                span.connet 通话5分/分钟
            ul.col-md-3.sale-list
              li
                span.sale1 92折
                span.connet 语音验证码5.5分/条
              li
                span.sale 98折
                span.connet 流量折后9.8折
              li
                span.sale 92折
                span.connet 通话5.5分/分钟
            ul.col-md-3.sale-list
              li
                span.sale1 原价
                span.connet 语音验证码6分/条
              li
                span.sale 折扣
                span.connet 流量折扣价
              li
                span.sale 原价
                span.connet 通话6分/分钟
          br
          p 还有低至 0.04元/条 的短信优惠包，超值优惠，不限使用时间
          br
          a.btn-green(href='') 更多优惠包
          .row
            p.h1.col-md-12.end-line 行业应用
          .row
            .col-md-3.block-scene
              img(src='http://www.cainfoharbor.com/upload/my/20170404172259317232.png', alt='房屋中介')
              p
                strong.line-h 房屋中介
            .col-md-3.block-scene
              img(src='http://www.cainfoharbor.com/upload/my/20170404172305286233.png', alt='保险证券')
              p
                strong.line-h 保险证券
            .col-md-3.block-scene
              img(src='http://www.cainfoharbor.com/upload/my/20170404172309401234.png', alt='物流快递')
              p
                strong.line-h 物流快递
            .col-md-3.block-scene
              img(src='http://www.cainfoharbor.com/upload/my/20170404172313254235.png', alt='汽车销售')
              p
                strong.line-h 汽车销售
            img(src='http://www.cainfoharbor.com/upload/my/20170404152748148122.png', width='866', alt='企业外号-产品图')
          .row
            p.h1.col-md-12.end-line 服务优势
          .row
            .col-md-3.block-scene
              img(src='http://www.cainfoharbor.com/upload/my/201703310928106491158.png', alt='一键双呼丰富')
              p
                strong.line-h 一键双呼丰富
              p.text-gray 拥有丰富的本地隐私一键双呼，通话双方看到本地手机号码，可极大提升接通率。
            .col-md-3.block-scene
              img(src='http://www.cainfoharbor.com/upload/my/201703310928325511159.png', alt='全程录音')
              p
                strong.line-h 全程录音
              p.text-gray 号外号云通信平台支持通话全程录音，帮助企业控制业务服务质量
            .col-md-3.block-scene
              img(src='http://www.cainfoharbor.com/upload/my/201703310928577191160.png', alt='稳定性高')
              p
                strong.line-h 价格优惠
              p.text-gray 全国唯一日呼叫量达到千万级的安全隐私号平台，网络稳定充分保障高并发通话。
            .col-md-3.block-scene
              img(src='http://www.cainfoharbor.com/upload/my/201703310929073951162.png', alt='对接灵活')
              p
                strong.line-h 对接灵活
              p.text-gray 提供多平台技术支持，实现支持SDK、API等方式接入平台，降低对接开发时间。
          .row
            p.h1.col-md-12.end-line 24小时服务
          .Prompt
            p 号外号的售前、售后都非常专业，遇到问题也有技术人员协助，再也不怕遇到问题难解决了，合作很放心。
          p.text-info 可查余额、账单、体验服务、7x24小时自助服务，还有最新活动优先通知喔~
          .FastAccess
            h1 开始接入号外号！
            br
            .time-line
            .pull-left.step1 1
            .pull-left.step2 2
            .pull-left.step3 3
            .pull-left.step4 ok
            br.clearfix
            br
            br
            .row
              .col-md-3
                p 首先，注册号外号账号
                a.btn.btn-warning(href='http://101.201.101.70:8080/ucrm/register_toRegister.action') 免费注册
              .col-md-3
                p 花1分钟，开发者信息认证
                a.btn.btn-warning(href='') 开发者认证 →
              .col-md-3
                p 查看API文档，准备接入
                a.btn.btn-warning(href='') 查看开发文档 →
              .col-md-3
                p ok!使用号外号产品
                a.btn.btn-warning(href='') 完成 ！