extends layout

block content
  h1= title
  p hello #{title}
  form(action='/register', method='post')
    p 用户名：
      input(type='text' name='user[name]')
    p 密码：
      input(type='password' name='user[pass]')
    p 
      input(type='submit' value='Sign Up')
      //- jade模板的最后一行如果有空行也会报 缩进错误