.container
  .row
    .page-header
      h1= title
      div.pull-right
        a(terget="_blank", href="/") 首页
        a(terget="_blank", href="/admin/list") &nbsp;&nbsp;&nbsp;&nbsp;/列表页
        a(terget="_blank", href="/admin/movie") &nbsp;&nbsp;&nbsp;&nbsp;/后台录入页