doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1")
    link(rel='stylesheet', href='/style/reset.css')
    link(rel='stylesheet', href='/style/navbar.css')