include header
    title= title
    link(rel='stylesheet', href='/style/reset.css')
    link(rel='stylesheet', href='/style/navbar.css')
    link(rel='stylesheet', href='http://apps.bdimg.com/libs/jquery-fullPage/2.7.4/jquery.fullPage.css')
  body
    include navbar
    h1= title
    p Welcome to #{title}