<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>号外号-价格</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <link rel="stylesheet" type="text/css" href="../assets/style/index.css">
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/style/price.css">
</head>

<body>
    
    <nav id="nav">
        <div class="items">
            <img src="../assets/images/logo.gif" width="60" height="60">
            <div class="title-item">
                <h2><a href="/">号 外 号</a></h2>
            </div>
            <div class="tab-item">
                <a href="../index.html">首页</a>
            </div>
            <div class="tab-item" id="product_item">
                <a href="product/voiceClass/Corporate-nickname.html">产品</a>


            </div>
            <div class="tab-item">
                <a href="price.html">价格</a>
            </div>
            <div class="tab-item">
                <a href="experience.html">体验</a>
            </div>
            <div class="tab-item">
                <a href="APIdoc.html">开发文档</a>
            </div>
            <div class="tab-item">
                <a href="help.html">帮助</a>
            </div>
            <div class="right-item">
                <a class="register" href="http://101.201.101.70:8080/ucrm/">登陆</a>
            </div>
            <div class="right-item">
                <a class="login" href="http://101.201.101.70:8080/ucrm/register_toRegister.action">注册</a>
            </div>
        </div>
    </nav>

    <div class="row m0">
        <!-- hidden-xs 手机端隐藏左侧列表 -->
        <div class="col-md-3 col-sm-3 col-xs-3 hidden-xs left-list">
            <ul>
                <li class="left-list-label-sms">
                    <h1>消息页</h1></li>
                <ul>
                    <li><a href="#sms-page1">短信验证码</a></li>
                    <li><a href="#sms-page2">短信发送平台</a></li>
                    <li><a href="#sms-page3">短信通知</a></li>
                    <li><a href="#sms-page4">闪信通知</a></li>
                </ul>
                <li class="left-list-label-voice">
                    <h1>通话页</h1></li>
                <ul>
                    <li><a href="#voice-page1">企业外号</a></li>
                    <li><a href="#voice-page2">安全隐私号</a></li>
                    <li><a href="#voice-page3">一键双呼</a></li>
                    <li><a href="#voice-page4">企业名片</a></li>
                </ul>
            </ul>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 pull-right conent-page">
            <!-- 消息页 -->
            <div id="sms-page1">
                <h2>短信验证码</h2>
                <div class="sms-box-page1">
                    <strong>短信验证码</strong>
                    <span class="text-gray">| 通过API接口发送短信，短信验证码</span>
                    <hr>
                    <!-- 价格框 -->
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.053</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">无限制</h3>
                            <p>接入即可享受</p>
                            <a class="Price-go-purchase one" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.048</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥100</h3>
                            <p class="Price-Original-price">原价 ￥106</p>
                            <p>含短信 <span class="Price-Contain">1924</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.036</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥1,000</h3>
                            <p class="Price-Original-price">原价 ￥1146</p>
                            <p>含短信 <span class="Price-Contain">20834</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.03</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥5,000</h3>
                            <p class="Price-Original-price">原价 ￥6250 </p>
                            <p>含短信 <span class="Price-Contain">113637</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sms-page2">
                <h2>短信发送平台</h2>
                <div class="sms-box-page2">
                    <strong>短信发送平台</strong>
                    <span class="text-gray">| 通过网页就能发送短信，功能丰富，超低价格</span>
                    <hr>
                    <a class="btn-white" href="http://101.201.101.70:8080/ucrm/register_toRegister.action">业务咨询</a>
                </div>
            </div>
            <div id="sms-page3">
                <h2>短信通知</h2>
                <div class="sms-box-page3">
                    <strong>短信通知</strong>
                    <span class="text-gray">| 覆盖三网，低延迟，高到达率</span>
                    <hr>
                    <!-- 价格框 -->
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.053</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">无限制</h3>
                            <p>接入即可享受</p>
                            <a class="Price-go-purchase one
								" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.048</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥ 100</h3>
                            <p class="Price-Original-price">原价 ￥106</p>
                            <p>含短信 <span class="Price-Contain">1924</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.036</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥ 1,000</h3>
                            <p class="Price-Original-price">原价 ￥1146</p>
                            <p>含短信 <span class="Price-Contain">20834</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.03</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥ 5,000</h3>
                            <p class="Price-Original-price">原价 ￥6250 </p>
                            <p>含短信 <span class="Price-Contain">113637</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sms-page4">
                <h2>闪信通知</h2>
                <div class="sms-box-page4">
                    <strong>闪信通知</strong>
                    <span class="text-gray">| 5秒必达、零开发、零成本</span>
                    <hr>
                    <a class="btn-white" href="http://101.201.101.70:8080/ucrm/register_toRegister.action">业务咨询</a>
                </div>
            </div>
            <div id="sms-footer">
                <h2>Q &amp; A</h2>
                <ul class="QAlist">
                    <li><a href="http://101.201.101.70:8080/ucrm/register_toRegister.action">
				    	如何获得4分的价格？
				    </a></li>
                    <li><a href="http://101.201.101.70:8080/ucrm/register_toRegister.action">
				    	当前折扣不够低，想要更低折扣怎么办？
				    </a></li>
                    <li><a href="http://101.201.101.70:8080/ucrm/register_toRegister.action">
				    	我之前已经有充值，现在如何参加优惠？
				    </a></li>
                    <li><a href="http://101.201.101.70:8080/ucrm/register_toRegister.action">
				    	充值金额可使用哪些服务？
				    </a></li>
                </ul>
            </div>
            <!-- 通话页 -->
            <div id="voice-page1">
                <h2>企业外号</h2>
                <div class="voice-box-page1">
                    <strong>企业外号</strong>
                    <span class="text-gray">| 保护双方号码不泄露，防跳单、防骚扰</span>
                    <hr>
                    <!-- 价格框 -->
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.063</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">无限制</h3>
                            <p>接入即可享受</p>
                            <a class="Price-go-purchase one
								" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.058</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥ 100</h3>
                            <p class="Price-Original-price">原价 ￥106</p>
                            <p>含短信 <span class="Price-Contain">1924</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.056</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥ 1,000</h3>
                            <p class="Price-Original-price">原价 ￥1146</p>
                            <p>含短信 <span class="Price-Contain">20834</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.05</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥ 5,000</h3>
                            <p class="Price-Original-price">原价 ￥6250 </p>
                            <p>含短信 <span class="Price-Contain">113637</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="voice-page2">
                <h2>安全隐私号</h2>
                <div class="voice-box-page2">
                    <strong>安全隐私</strong>
                    <span class="text-gray">| 保护双方号码不泄露，防跳单、防骚扰</span>
                    <hr>
                    <p style="color: #1CAA70;font-size: 2em;">价格根据不同客户需求量身定制</p>
                    <a class="btn-white" href="http://101.201.101.70:8080/ucrm/register_toRegister.action">业务咨询</a>
                </div>
            </div>
            <div id="voice-page3">
                <h2>一键双呼</h2>
                <div class="voice-box-page3">
                    <strong>一键双呼</strong>
                    <span class="text-gray">| 提供各地接入号、小号等资源及落地服务</span>
                    <hr>
                    <a class="btn-white" href="http://101.201.101.70:8080/ucrm/register_toRegister.action">业务咨询</a>
                </div>
            </div>
            <div id="voice-page4">
                <h2>企业名片</h2>
                <div class="voice-box-page4">
                    <strong>企业名片</strong>
                    <span class="text-gray">| 振铃时向客户手机推送企业预设的内容</span>
                    <hr>
                    <!-- 价格框 -->
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.063</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">无限制</h3>
                            <p>接入即可享受</p>
                            <a class="Price-go-purchase one
								" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.058</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥ 100</h3>
                            <p class="Price-Original-price">原价 ￥106</p>
                            <p>含短信 <span class="Price-Contain">1924</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.056</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥ 1,000</h3>
                            <p class="Price-Original-price">原价 ￥1146</p>
                            <p>含短信 <span class="Price-Contain">20834</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 Price-box">
                            <p class="Price-box-title">
                                <span class="Price-money">0.05</span>
                                <span class="Price-unit">元/条</span>
                            </p>
                            <h3 class="Price-h">￥ 5,000</h3>
                            <p class="Price-Original-price">原价 ￥6250 </p>
                            <p>含短信 <span class="Price-Contain">113637</span> 条</p>
                            <a class="Price-go-purchase" href="http://101.201.101.70:8080/ucrm/">前往购买</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="voice-footer">
                <h2>Q &amp; A</h2>
                <ul class="QAlist">
                    <li><a href="http://101.201.101.70:8080/ucrm/register_toRegister.action">
				    价格折扣规则是什么？
				    </a></li>
                    <li><a href="http://101.201.101.70:8080/ucrm/register_toRegister.action">
				    当前折扣不够低，想要更低折扣怎么办？
				    </a></li>
                    <li><a href="http://101.201.101.70:8080/ucrm/register_toRegister.action">
				    我之前已经有充值，现在如何参加优惠？
				    </a></li>
                    <li><a href="http://101.201.101.70:8080/ucrm/register_toRegister.action">
				    充值金额可使用哪些服务？
				    </a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../assets/js/down-menu.js"></script>
</body>

</html>
