	html,body{font: '宋体','Helvetica Neue','Microsoft YaHei', Tahoma, Arial, sans-serif;margin: 0; background-color: #EAEDF5;} 
	#nav,.items,.tetle-item{
		h2{font-size: 2em; margin-top: -5px;font-weight: 300;
			a{text-decoration: none;color: #000;}
		}
	}
	.bg-img{ width: 100%; 
		background: url(http://www.yuntongxun.com/front/images/taste_img1.jpg) no-repeat;
		img{ display: block; margin: 0 auto; padding: 130px; }
		.boxs {
			width: 80%;
		    height: 1030px;
		    margin: 0 auto;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-content: space-between;
			.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9{
			    width: 22.1%;
			    height: 280px;
			    margin-bottom: 60px;
			    position: relative;
			    .isInfo{display: none;}
			}
			/*280*/
			.item1{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px 0px no-repeat;
				&:hover{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -2800px no-repeat;}
				&:hover .isInfo{display: block;}
			}
			.item2{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -1960px no-repeat; 
				&:hover{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -2800px no-repeat;}
				&:hover .isInfo{display: block;}
			}
			.item3{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -1400px no-repeat; 
				&:hover{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -2800px no-repeat;}
				&:hover .isInfo{display: block;}
			}
			.item4{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -840px no-repeat; 
				&:hover{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -2800px no-repeat;}
				&:hover .isInfo{display: block;}
			}
			.item5{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -560px no-repeat; 
				&:hover{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -2800px no-repeat;}
				&:hover .isInfo{display: block;}
			}
			.item6{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -1120px no-repeat; 
				&:hover{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -2800px no-repeat;}
				&:hover .isInfo{display: block;}
			}
			.item7{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -280px no-repeat; 
				&:hover{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -2800px no-repeat;}
				&:hover .isInfo{display: block;}
			}
			.item8{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -2520px no-repeat; 
				&:hover{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -2800px no-repeat;}
				&:hover .isInfo{display: block;}
			}
			.item9{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -3080px no-repeat; 
				&:hover{background: url(http://www.yuntongxun.com/front/images/tastebg.jpg)  0px -2800px no-repeat;}
				&:hover .isInfo{display: block;}
			}
			.cont{margin: 8px; position: absolute; bottom: 0;
				h3{margin: 0; color: #000;font-size: 1em;}
				p{margin: 0; font-size: 13px; color: gray}
			}
			.isInfo{
				margin-top: 50px;
				a{display: block;margin: 0 auto; text-align: center;line-height: 2.3em;}
				a:first-child{width: 120px; border-radius: 15px; border: 2px solid white;
					text-decoration: none;background-color: #1068E6; color: white;}
			}	
		}

	}
footer{padding: 20px 0px 20px 50px;  background-color: #0D0D0D;color: white;
	p{margin: 0; color: gray;font-size: 1em;}
}