.container .page1 {
  background-image: url(images/banner.gif);
}
.container .page1 .page1-text h1,
.container .page1 .page1-text p {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #199cc4;
}
.container .page1 .page1-text h1 sup,
.container .page1 .page1-text p sup {
  font-size: 8px;
}
.container .page1 .page1-text h1 {
  font-size: 2.5rem;
  line-height: 5rem;
}
.container .page2 {
  width: 100%;
}
.container .page2 h2 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 6px;
  line-height: 3em;
}
.container .page2 .warp {
  width: 90%;
  margin: 0 auto;
}
.container .page2 .warp .info-block {
  width: 280px;
  height: 400px;
  float: left;
  text-align: center;
  margin: 10px;
  border-radius: 3%;
  border-right: 3px solid #F7F8FA;
  background-color: white;
  list-style: none;
  transition: .5s all linear;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
}
.container .page2 .warp .info-block:hover {
  box-shadow: 8px 8px 5px rgba(190, 190, 190, 0.5);
}
.container .page2 .warp .info-block .iconfont {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid blue;
  margin: 30px 0;
  border-radius: 50%;
  line-height: 100px;
  color: white;
}
.container .page2 .warp .info-block .icon-shouji {
  background-color: #61B2EC;
}
.container .page2 .warp .info-block .icon-anquan1 {
  background-color: #FBB154;
}
.container .page2 .warp .info-block .icon-anquan {
  background-color: #B9A6F4;
}
.container .page2 .warp .info-block .icon-gaoxiaobianjie {
  background-color: #46DBCB;
}
.container .page2 .warp .info-block h3 {
  font-size: 18px;
  font-weight: bold;
}
.container .page2 .warp .info-block ul.cotent-list li {
  line-height: 2em;
}
.container .pic1 {
  background: url(../images/banner1.png) center;
  position: relative;
}
.container .pic1 a {
  position: absolute;
  bottom: 90px;
  left: 140px;
  font-size: 2.5rem;
  color: #FF8C00;
  transition: all .5s;
}
.container .pic1 a:hover {
  left: 160px;
}
.container .pic2 {
  background: url(../images/banner2.png) center;
  position: relative;
}
.container .pic2 a {
  position: absolute;
  bottom: 90px;
  left: 140px;
  font-size: 2.5rem;
  color: #4BB274;
  transition: all .5s;
}
.container .pic2 a:hover {
  left: 160px;
}
.container .pic3 {
  background: url(../images/banner3.png) center;
  position: relative;
}
.container .pic3 a {
  position: absolute;
  bottom: 95px;
  left: 140px;
  font-size: 2.5rem;
  color: #4AB5A6;
  transition: all .5s;
}
.container .pic3 a:hover {
  left: 160px;
}
.container .pic4 {
  background: url(../images/banner4.png) center;
  position: relative;
}
.container .pic4 a {
  position: absolute;
  bottom: 95px;
  left: 140px;
  font-size: 2.5rem;
  color: #00B4EE;
  transition: all .5s;
}
.container .pic4 a:hover {
  left: 160px;
}
.container .page4 {
  width: 100%;
  height: 100%;
  background: url(../images/footer_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.container .page4 .link_items ul li a {
  line-height: 3rem;
  font-size: 1.3em;
  font-style: oblique;
  font-family: "宋体";
  color: #FFF;
}
.container .page4 .link_items ul li a:hover {
  text-decoration: underline;
}
.container .page4 .link_items ul li h2 {
  color: #199cc4;
}
.container .page4 .footer_text {
  line-height: 3rem;
  margin: 120px;
  color: gray;
}
@media (max-width: 1200px) {
  .items > img {
    display: none;
  }
}
