body {
  background: #EFEFEF;
  position: relative;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
body li {
  list-style: none;
}
body .mt6 {
  margin-top: 62px;
}
body #nav-items {
  position: fixed;
  width: 280px;
  background-color: #FFF;
  padding: 0;
  margin: 0 30px;
}
body #nav-items h3.title-item {
  margin-left: 30px;
  line-height: 3em;
  font-size: 18px;
  color: #2b4454;
  border-bottom: 1px solid #EFEFEF;
}
body #nav-items div.nav-item p a {
  margin-left: 50px;
  line-height: 2em;
  font-size: 14px;
  text-decoration: none;
  color: #2b4454;
  font-family: '宋体';
}
body #nav-items div.nav-item p:hover {
  background-color: #EFEFEF;
}
body #nav-items div.nav-item .current {
  background-color: #EFEFEF;
  border-left: 10px solid #20A56E;
}
body strong.line-h {
  line-height: 3em;
}
body .text-gray {
  padding: 9px 0 34px 0;
  line-height: 24px;
  font-size: 14px;
  color: #888888;
  font-family: '宋体';
}
body span.info {
  font-size: 12px;
  color: #142f42;
  font-family: '宋体';
}
body a.btn-green {
  width: 174px;
  height: 47px;
  margin-bottom: 80px;
  line-height: 47px;
  text-align: center;
  font-size: 18px;
  display: block;
  background-color: #1FA66E;
  color: #FFF;
}
body p.end-line:after {
  content: ' ';
  display: block;
  margin-top: 20px;
  float: right;
  width: 600px;
  height: 1px;
  background-color: #CDCDCD;
}
.on-list {
  background-color: #FFF;
}
.on-list > span {
  background-color: #1FA66E!important;
}
.on-imgs {
  display: block!important;
}
.smsScene ul.tab-list {
  margin: 0 -15px 0 0;
  padding: 0;
}
.smsScene ul.tab-list li {
  width: 100%;
  padding: 20px 10px;
}
.smsScene ul.tab-list li span {
  width: 45px;
  height: 45px;
  margin-right: 5px;
  line-height: 45px;
  text-align: center;
  background-color: #45708B;
}
.smsScene ul.tab-list li h3 {
  text-align: center;
  margin: 26px auto;
}
.smsScene div.tab-img {
  overflow: hidden;
  display: none;
  background: url(http://www.yuntongxun.com/front/images/produce_dj1.jpg) no-repeat;
}
.smsScene div.tab-img p {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 10px;
  margin: 0 0 -8px -15px;
}
div.tips1 {
  width: 866px;
  height: 325px;
  background-image: url(http://www.yuntongxun.com/front/images//produce_img56.jpg);
  margin-top: 100px;
}
div.tips1 img {
  margin: 50px 0 0 55px;
  padding: 3px;
  border-radius: 50%;
  border: 1px dotted gray;
}
div.tips1 p {
  margin-top: -60px;
  padding: 0 0 0 230px;
}
.sale-list {
  font-size: 12px;
}
.sale-list .sale1 {
  background-color: #ff3939;
  color: #fff;
  margin: 5px;
}
.sale-list .sale {
  background-color: #ff9625;
  color: #fff;
  margin: 5px;
}
.sale-list .connet {
  color: #888;
  line-height: 24px;
  font-family: "宋体";
}
.block-scene {
  padding-top: 5px;
  text-align: center;
  transition: all .5s linear;
}
.block-scene img {
  width: 160px;
  height: 160px;
}
.block-scene:hover {
  background-color: #FFF;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
div.Prompt {
  width: 460px;
  height: 120px;
  background: url(http://www.yuntongxun.com/front/images/produce_img128.png) no-repeat;
}
div.Prompt p {
  padding: 15px;
}
div.FastAccess {
  position: relative;
  width: 866px;
  border-radius: 3%;
  padding: 16px 0px 16px 30px;
  background-color: #1FA66E;
  color: white;
}
div.FastAccess h1 {
  text-align: center;
}
div.FastAccess .time-line {
  width: 650px;
  height: 1px;
  position: absolute;
  top: 130px;
  left: 60px;
  background-color: white;
}
div.FastAccess .step1,
div.FastAccess .step2,
div.FastAccess .step3,
div.FastAccess .step4 {
  width: 50px;
  height: 50px;
  margin-left: 150px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 1.3em;
  color: #1FA66E;
  background-color: white;
}
div.FastAccess .step1 {
  margin-left: 1px;
}
div.FastAccess .step3,
div.FastAccess .step4 {
  margin-left: 170px;
}
