doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1")
    link(rel='stylesheet', href='/style/reset.css')
    link(rel='stylesheet', href='/style/navbar.css')
    script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
    script(src='/js/down-menu.js')