nav#navbar
  div.content
    div.lt
      img(src="/images/logo.gif" width="60" height="60")
      h2
        a.home(href="/") 号 外 号
    ul.cent
      li.tab-item
        a(href="/") 首页
      li.tab-item#product_item
        a(href="/product/Corporate-nickname") 产品
        #product_menu(style="display:none;")
          .product-content
            .left-menu
              ul
                li
                  h1 云通讯
                  br
                li
                  p 行业第一的通信能力集成服务商
                li
                  a 了解更多》
            .voice-menu
              h3.title 语音类
              ul
                li.menu-item
                  em.dot  ·&nbsp;&nbsp;
                  a(href="/product/Corporate-nickname") 企业外号
                li.menu-item
                  em.dot  ·&nbsp;&nbsp;
                  a(href="views/product.html#voiceClass-2") 安全隐私号
                li.menu-item
                  em.dot  ·&nbsp;&nbsp;
                  a(href="views/product.html#voiceClass-3") 一键双呼
                li.menu-item
                  em.dot  ·&nbsp;&nbsp;
                  a(href="views/product.html#voiceClass-4") 企业名片
            .sms-menu
              h3.title 消息类
              ul
                li.menu-item
                  em.dot  ·&nbsp;&nbsp;
                  a(href="views/product.html#smsClass-1") 短信验证码
                li.menu-item
                  em.dot  ·&nbsp;&nbsp;
                  a(href="views/product.html#smsClass-2") 短信发送平台
                li.menu-item
                  em.dot  ·&nbsp;&nbsp;
                  a(href="views/product.html#smsClass-3") 短信通知
                li.menu-item
                  em.dot  ·&nbsp;&nbsp;
                  a(href="views/product.html#smsClass-4") 闪信通知
      li.tab-item
        a(href="/price") 价格
      li.tab-item
        a(href="/experience") 体验
      li.tab-item
        a(href="/api-doc") 开发文档
      li.tab-item
        a(href="") 帮助
    div.rt
      a.login 登陆
      a.register 注册