<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试网页</title>
    <link rel="icon" href='../static/img/favicon.ico' sizes="32x32">
    <link rel="stylesheet" href='../static/font/iconfont.css'>
    <link rel="stylesheet" href='../static/css/header.css'>
</head>

<body>
    <header id="head">
        <a href="./index.html">
            <img src='../static/img/dlm_icon.png' class="logo" alt="dlm logo">
        </a>
        <ul class="head-list">
            <li>
                <i class="iconfont icon-wenjian"></i> 文件
                <ul>
                    <li> 1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </li>
            <li class="edit_python">
                <a href="edit_python.html" ><i class="iconfont icon-xingzhuang"></i> 编写Python</a>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li>
                <i class="iconfont icon-ziliao"></i> 资源库
                <ul>
                    <li></li>
                </ul>
            </li>
            <li>
                <i class="iconfont icon-fabu"></i> 立即发布
                <ul>
                    <li></li>
                </ul>
            </li>

            <li style="opacity: 0">
                <i class="iconfont icon-sousuo"></i> 搜索
                <ul>
                    <li></li>
                </ul>
            </li>
            <li>
                <i class="iconfont icon-yun"></i> 作品集
                <ul>
                    <li></li>
                </ul>
            </li>
            <li>
                <i class="iconfont icon-buoumaotubiao02"></i> 社区
                <ul>
                    <li></li>
                </ul>
            </li>
            <li>
                <i class="iconfont icon-shezhi"></i> 设置
                <ul>
                    <li></li>
                </ul>
            </li>
            <li>
                <i class="iconfont icon-geren"></i> 用户
                <ul>
                    <li></li>
                </ul>
            </li>
        </ul>
    </header>
</body>
<script src="../static/js/libs/jquery.min.js">
// 处理 jq 在 electron 中兼容问题
if (typeof module === 'object') { window.jQuery = window.$ = module.exports; };
</script>
<script src="../static/js/header.js"></script>

</html>