<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试网页</title>
    <link rel="icon" href='../static/img/favicon.ico' sizes="32x32">
    <link rel="stylesheet" href='../static/css/index.css'>
    <link rel="stylesheet" href="../static/css/color_dlm_python_advance.css">
</head>

<body>
    <div id="dlm_body">
        <header id="dlm_head">
            <a href="./index.html">
                <img id="dlm_menu_icon_0" style="width: 100px; height: 50px; padding-left: 55px; padding-top: 15px;float: left;" src='../static/img/dlm_icon.png' alt="dlm logo">
            </a>
            <div id="dlm_menu">
                <div class="dlm_menu_icon dlm_menu_icon_1">
                    <div id="dlm_menu_list">
                        <ul class="dlm_wj_menu_box">创建</ul>
                        <ul class="dlm_wj_menu_box">打开云端项目</ul>
                        <ul id="dlm_wj_menu_box_loadhost" class="dlm_wj_menu_box">打开本地项目
                            <input accept="text/csv" id="contained" name="csvfile" type="file" style="display: none;" />
                        </ul>
                        <ul class="dlm_wj_menu_box">保存到云端</ul>
                        <ul id="dlm_wj_menu_box_savrhost" class="dlm_wj_menu_box">保存到本地</ul>
                    </div>
                </div>
                <a href="./edit_python.html" class="dlm_menu_icon dlm_menu_icon_2"></a>
                <div class="dlm_menu_icon dlm_menu_icon_3">
                    <div id="dlm_menu_list">
                        <ul class="dlm_wj_menu_box">图片库</ul>
                        <ul class="dlm_wj_menu_box">音频库</ul>
                        <ul class="dlm_wj_menu_box">文件库</ul>
                    </div>
                </div>
                <div class="dlm_menu_icon dlm_menu_icon_4"></div>
                <div class="dlm_menu_icon dlm_menu_icon_9">
                    <div id="dlm_menu_list">
                        <a href="/dlm_yh_zp"><ul class="dlm_wj_menu_box"> 我的作品</ul></a>
                        <a href="/dlm_yh_bj"><ul class="dlm_wj_menu_box"> 我的班级</ul></a>
                        <a href="/dlm_yh_tz"><ul class="dlm_wj_menu_box"> 我的贴子</ul></a>
                        <a href="/dlm_yh_sc"><ul class="dlm_wj_menu_box"> 我的收藏</ul></a>
                        <a href="/dlm_yh_gz"><ul class="dlm_wj_menu_box"> 我的关注</ul></a>
                        <a href="/dlm_yh_xx"><ul class="dlm_wj_menu_box"> 我的消息</ul></a>
                        <ul class="dlm_wj_menu_box">退出登录</ul>
                    </div>
                </div>
                <div class="dlm_menu_icon dlm_menu_icon_8"></div>
                <a href="./dlm_sj_zy.html" class="dlm_menu_icon dlm_menu_icon_7"></a>
                <a href="./dlm_Sample.html" class="dlm_menu_icon dlm_menu_icon_6"></a>
                <div class="dlm_menu_icon dlm_menu_icon_5"></div>
            </div>
        </header>
        <section id="dlm_subject" style="display: block;">
            <div id="dlm_blockly"></div>
            <div id="dlm_code_warp">
                <div class="dlm_btn_grop">
                    <div id="dlm_run_stop_btn">运 行</div>
                    <div id="dlm_clear_btn">清 除</div>
                </div>
                <div id="dlm_edit"></div>
            </div>
        </section>
    </div>
</body>
<script src='../static/js/libs/blocklys/index.js'></script>
<script src='../static/js/libs/blocklys/blockly.js'></script>
<script src='../static/js/libs/blocklys/python.js'></script>
<script src='../static/js/libs/blocklys/blocks.js'></script>
<script src='../static/js/libs/blocklys/core-browser.js'></script>
<script src='../static/js/libs/blocklys/msg/zh-hans1.js'></script>
<script src="../static/js/libs/blocklys/py.js"></script>
<script src="../static/js/libs/ace/ace.js"></script>
<script src="../static/js/libs/jquery.min.js">
// 处理 jq 在 electron 中兼容问题
if (typeof module === 'object') { window.jQuery = window.$ = module.exports; };
</script>
<script src="../static/js/header.js"></script>
<script src="../static/js/libs/socketio.js"></script>
<script src="../static/js/home/dml_blocklu1.js"></script>
<script src='../static/js/home/index.js'></script>
<script src='../static/js/home/edit.js'></script>

</html>