extends ../component

block content
  .container-fluid.mt6
  .row
    #nav-items.col-md-2
      h3.title-item 语音类
      .nav-item
        p
          a(href='/product/Corporate-nickname') 企业外号
        p
          a(href='/product/Security-privacy-number') 安全隐私号
        p
          a(href='/product/One-button-double-call') 一键双呼
        p
          a(href='/product/Business-card') 企业名片
      h3.title-item 消息类
      .nav-item
        p
          a(href='/product/SMS-authentication-code') 短信验证码
        p.current
          a(href='/product/SMS-platform') 短信发送平台
        p
          a(href='/product/SMS-notification') 短信通知
        p
          a(href='/product/Notice-of-flashing-letters') 闪信通知
    .col-md-8(style='position: absolute;left: 350px;')
      // 消息类
      section#voiceClass
        h2 消息类
        section#smsClass-2
          h3 短信发送平台