link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/libs/css/bootstrap.min.css')
script(src='/libs/js/jquery-1.12.1.min.js')
script(src='/libs/js/bootstrap.min.js')
script(src='/libs/js/bootstrap.min.js')